# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company
#
# SPDX-License-Identifier: Apache-2.0

version: '3.5'
services:
  db_prod:
    image: mariadb:10.11.13
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: pw
    command: --log-bin --binlog-format=ROW  --server-id=1
    ports:
      - "3308:3306"
    volumes:
      - ./db_prod:/var/lib/mysql

  db_backup:
    image: mariadb:10.11.13
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: pw
    command: --log-bin --binlog-format=ROW --server-id=3
    ports:
      - "3009:3306"
    volumes:
      - ./db_backup:/var/lib/mysql

  db_test:
    image: mariadb:10.11.13
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: test
    command: --log-bin --binlog-format=ROW --server-id=3
    ports:
      - "3306:3306"
    volumes:
      - ./db_test:/var/lib/mysql

  db_streaming:
    image: mariadb:10.11.13
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: streaming
    command: --log-bin --binlog-format=ROW --server-id=3
    ports:
      - "3307:3306"
    volumes:
      - ./db_streaming:/var/lib/mysql
