<html lang="en">

<head>
    <title>MariaDB Backups</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="card">
        <div class="card-header">
            <h1>maria_db backups | {{ .service }} </h1>
        </div>
    </div>

    <div class="card-body card-body-list">
        <p>Choose a full backup</p>
        <div class="row">
            <div class="list-group overflowAuto" id="list-tab" role="tablist" style="width: 100%">
                {{ range $index, $backup := .backups }}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/restore?key={{ $backup.Key }}&storage={{ $backup.Storage }}" class="list-group-item list-group-item-action" style="border: 0px">{{ $backup.Time }}</a>
                    <span class="badge badge-primary badge-pill" style="color:black; background-color: transparent;"> > </span>
                </li>
                {{ end }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<style>
    .overflowAuto {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 180px);
    }
</style>
</html>