html, body {
    height: 100%;
    overflow: hidden;
    padding: 10px;
    background-color: grey;
}
.card-footer-config {
    padding: .75rem 1.25rem;
    background-color: rgb(247 247 247);
    border: 2px solid rgb(0 0 0 / 56%);
    border-radius: 10px;
    margin: 15px;
}

.card-body-list {
    background-color: rgb(247 247 247);
    margin-top: 20px;
    border-radius: .25rem;
}

.btn-group-sep {
    display: block;
    left: calc(50% + -260px);
}

.backup_sts {
    background-color: #dc143c;
    color: white;
}

.row-margin {
    margin: 5px;
}