<html lang="en">

<head>
    <title>Maria Backups</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <div class="card-header">
            <h1>MariaDB Restore</h1>
            <div>
                <span class="badge badge-pill badge-success">Backup</span>Verification successful</br>
                <span class="badge badge-pill badge-secondary">Backup</span>Verification was not completed yet</br>
                <span class="badge badge-pill badge-warning">Backup</span>Verfication partly successful. Table checksum not run or incorrect</br>
                <span class="badge badge-pill badge-danger">Backup</span>Verification Error. Hover over to see the reason</br>
            </div>
        </div>
        <div class="card-body">
            {{ range $index, $backup := . }}
                <ul class="list-group">
                    <li class="list-group-item  list-group-item-info" style="background-color: rgba(0,0,0,.03);">
                        <h3 style="margin:30px;" aria-expanded="false">
                            {{ getServiceName $backup.Key }}</br>
                        </h3>
                        <h4 style="margin:30px;" aria-expanded="false">
                            {{ getKeyPath $backup.Key }}</br>
                        </h4>
                        <h5 style="margin:30px;" aria-expanded="false">
                            List of available incremental backups. Choose one:
                        </h5>
                        <ul>
                            <div class="form-check">
                                <form action="/restore" method="post" class="overflowAuto">
                                    <input class="form-check-input" type="hidden" name="storage" id="storage" value="{{$backup.Storage}}">
                                    {{ range $backup.IncList}}
                                    <li class="list-group-item" style="background-color: {{ getVerifyBackupState $backup.Verify .LastModified false}}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ getVerifyBackupState $backup.Verify .LastModified true}}">
                                        <input class="form-check-input" type="radio" name="backup" id="backup" value="{{.Key}}">
                                        <label class="form-check-label" style="color:white" for="backup">
                                            {{.LastModified}}
                                        </label>
                                    </li>
                                    {{ end }}
                                
                                </form>
                            </div>
                        </ul>
                    </li>
                </ul>
            {{ end }}
        </div>
        <div class="card-footer">
            <button id="download_btn"type="button" class="btn btn-dark btn-lg btn-block" disabled>
                <span id="loading_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none; margin-right: 10px;"></span>
                Download
            </button>
            <button id="restore_btn" type="button" name="restore" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#restoreModal" disabled>Restore</button>
        </div>
    </div>
    <div class="footer">

    </div>
  


    <!-- Modal -->
    <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="restoreModalLabel">Restore from backup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            <button type="button" id="restore_modal_btn" type="submit" class="btn btn-primary" value="soft">
                <span id="loading_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none; margin-right: 10px;"></span>
                Restore
            </button>
            </div>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        let radioBtns = document.querySelectorAll("input[type=radio]")
        radioBtns.forEach((elem) => {
            elem.addEventListener("change", function(event) {
                const checked = event.target.checked
                if (event.target.checked) {
                    enableButton('download_btn', 'Download')
                    enableButton('restore_btn', "Restore")
                }
            })
        })

        document.querySelectorAll("#restore_btn")[0].addEventListener("click", function() {
            clearRestoreModalText()
        })

        document.querySelectorAll("#restore_modal_btn")[0].addEventListener("click", function() {
            clearRestoreModalText()
            disableButton('restore_modal_btn', "hang tight")
            postFormData("restore")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Not 2xx response")
                }
                const utf8Decoder = new TextDecoder("utf-8");
                const reader = response.body.getReader();
                const stream = new ReadableStream({
                    async start(controller) {
                        return pump();
                        function pump() {
                            return reader.read().then(({ done, value }) => {
                                if (done) {
                                    controller.close();
                                    enableButton('restore_modal_btn', "Restore")
                                    return;
                                }
                                var str = String.fromCharCode.apply(String, value);
                                var lines = str.split('\n');
                                for(var line = 0; line < lines.length; line++){
                                    if (lines[line] !== "") {
                                        updateRestoreModalText(lines[line])
                                    }
                                }
                                return pump();
                            });
                        }
                    }
                });
            })
            .catch(err => {
                alert("error restoring backup: "+ err)
                enableButton('restore_modal_btn', "Restore")
            })
        })

        document.querySelectorAll("#download_btn")[0].addEventListener("click", function() {
            disableButton('download_btn', "working on it . . .")
            postFormData("restore/download")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Not 2xx response")
                }
                return response.blob()
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = "backup.tar";
                document.body.appendChild(a);
                a.click();    
                a.remove();
                enableButton('download_btn', 'Download')
            })
            .catch(err => {
                enableButton('download_btn', "Download")
                alert("error downloading backup: " + err)
            })
        })

        let postFormData = function(path) {
            let formData =  new FormData(document.querySelector('form'))
            return fetch(path,
            {
                body: formData,
                method: "post"
            })
        }

        let enableButton = function(selector, btnText) {
            const btn = document.getElementById(selector)
            btn.disabled = false
            if (btn.getElementsByClassName('spinner-border').length > 0) {
                btn.getElementsByClassName('spinner-border')[0].style.display = "none"
            }
            btn.childNodes[2].nodeValue = btnText
        }

        let disableButton = function(selector, btnText) {
            const btn = document.getElementById(selector)
            btn.disabled = true
            btn.getElementsByClassName('spinner-border')[0].style.display = ""
            btn.childNodes[2].nodeValue = btnText
        }

        let clearRestoreModalText = function() {
            const modal = document.getElementById("restoreModal")
            const body = modal.getElementsByClassName("modal-body")[0]
            body.innerHTML = "You are about to restore the database to your selected timestamp. Are you sure?"
        }

        let updateRestoreModalText = function(text) {
            const update = JSON.parse(text)
            const time = update.time.split(" ")
            const date = new Date(time[0] + " " + time[1])
            const modal = document.getElementById("restoreModal")
            const body = modal.getElementsByClassName("modal-body")[0]
            let html = body.innerHTML
            body.innerHTML = html + "<br>" + date.toLocaleTimeString() + "  " + update.status
        }
    </script>
    <style>
        html, body {
            height: 100%;
            overflow: hidden;
            padding: 10px;
            background-color: grey;
        }
        .overflowAuto {
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100vh - 635px);
        }
    </style>
</body>

</html>